@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

@media screen and (max-width: 800px) {
  ::-webkit-scrollbar {
    display: none;
  }
}
/* Track */
::-webkit-scrollbar-track {
  background: rgb(71, 85, 105);
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #2563eb;
  border-radius: 5px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5c9feb;
}

.flip-card {
  perspective: 1000px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* .flip-card:hover .flip-card-inner {
  transform: rotateX(180deg);
} */
.my-rotate {
  transform: rotateX(180deg);
}
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  transform: rotateX(180deg);
}

.seekbar::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  border-radius: 50%;
  background-color: #fff;
  height: 1rem;
  width: 1rem;
  box-shadow: 0 0 3px #404040;
}
.seekbar::-webkit-slider-thumb:active {
  height: 1.4rem;
  width: 1.4rem;
}
em {
  font-style: italic;
}
